<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GuideScan 1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <style>
      .button {
          background-color: #e7e7e7; /* Gray */
          border: none;
          color: black;
          border-radius: 6px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .button:hover {background-color: #8c8c8c}
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    
    <script type='text/javascript' src="./collapsible/js/jquery-1.4.2.min.js"></script>
    <script type='text/javascript' src="./collapsible/js/jquery.cookie.js"></script>	
    <script type='text/javascript' src="./collapsible/js/jquery.collapsible.js"></script> 
    
    <script type='text/javascript' language='javascript'>
    jQuery(document).ready(function() {
            $.collapsible(".module .header");
    });
    </script>
    
    <script type='text/javascript' language='javascript'>
      function showDiv() {
        document.getElementById('spin').style.display = "block";
      }
    </script>
    
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src='img/helix.png' width=25> GuideScan 1.0</a> <!--'img/51441.png' -->
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit"> 
        <table>
          <tr>
            <td valign='top' width=100 rowspan="2">
              <a href="/"><img src = "img/helix.png" width=100 margin-left20/></a>
            </td>
            <td rowspan="2">
              <h1 style="margin-left: 20px"> GuideScan 1.0</h1>
            </td>
          </tr>
        </table>
      </div>

      <!--
      file upload query mode 
      <form action="upload" method="post" enctype="multipart/form-data"> 
      <div class="row" style="margin-left: 725px;">
        <div class="span12">
          <td width=70% height="10">
            filename: <input type="file" name="datafile" action="upload" size="40">
            <div>
              <input type="submit">
            </div>
          </td> 
        </div>
      </div> 
      </form> 
      -->

      <!-- input table query mode -->
      <form id="form" action="show_results" method="post", enctype="multipart/form-data">
        <div class="row">
          <div class="span12">
            <!--<h4 style="color: #FF0000">Currently undergoing maintenance</h4>-->
            <!--Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,-->
            <table cellpadding="10">
              <tr>
                <td rowspan="2" valign="top">
                  <p>
                  Input Genomic Coordinates as chromosome:start-end, one per line:
                  <br/>

                  <textarea rows="10" class="span7" name="queries" style="font-family:Courier, monospace;color:black;">{{queries | e}}</textarea></p>

                  <h1 style="color:black;"><b>OR</b></h1>
                  <h4>BED, GFF/GTF, TXT file upload</h4>
                  <p><i>TXT file contains single column of genomic coordinates in form chr#:start-end</i></p>
                  <p><i>Processing time scales with lines in file, 2000 queries takes ~5 minutes</i></p>

                  <input type="file" name="datafile" size="40">

                </td>
                <td width=70% height="10">
                  <button name="btn-submit" class="btn btn-primary btn-large" type="submit" onclick="this.disabled=true;submit();showDiv();return true" style="margin-right:10px; float:left">guide me!</button>
                  <br/> 
              </tr>
              <tr>
                <td valign="top">
                  <div class="module">
                    <h5 class="span2" style="padding-left:0px">
                      &nbsp<b>Parameters</b>
                    </h5>
                    <div class="content">
                      <!--Kmer Length: <input type="text" name="kmer" value="{{ kmer|e }}" style="width:50px"/><br/> -->
                      <b>Genome</b>
                      <li type="None" >
                        {% if genome == "hg38" %}
                          <select name="genome">
                            <option value="hg38" selected>hg38</option>
                            <option value="mm10">mm10</option>
                            <option value="dm6">dm6</option>
                            <option value="SacCerv">SacCerv</option>
                            <option value="danRer10">danRer10</option>
                            <option value="ce11">ce11</option>
                          </select>
                        {% elif genome == "mm10" %}
                          <select name="genome">
                            <option value="hg38">hg38</option>
                            <option value="mm10" selected>mm10</option>
                            <option value="dm6">dm6</option>
                            <option value="SacCerv">SacCerv</option>
                            <option value="danRer10">danRer10</option>
                            <option value="ce11">ce11</option>
                          </select>
                        {% elif genome == "dm6" %}
                          <select name="genome">
                            <option value="hg38">hg38</option>
                            <option value="mm10">mm10</option>
                            <option value="dm6" selected>dm6</option>
                            <option value="SacCerv">SacCerv</option>
                            <option value="danRer10">danRer10</option>
                            <option value="ce11">ce11</option>
                        </select>
                        {% elif genome == "SacCerv" %}
                          <select name="genome">
                            <option value="hg38">hg38</option>
                            <option value="mm10">mm10</option>
                            <option value="dm6">dm6</option>
                            <option value="SacCerv" selected>SacCerv</option>
                            <option value="danRer10">danRer10</option>
                            <option value="ce11">ce11</option>
                          </select>
			{% elif genome == "danRer10" %}
                          <select name="genome">
                            <option value="hg38">hg38</option>
                            <option value="mm10">mm10</option>
                            <option value="dm6">dm6</option>
                            <option value="SacCerv">SacCerv</option>
                            <option value="danRer10" selected>danRer10</option>
                            <option value="ce11">ce11</option>
                          </select>
			{% elif genome == "ce11" %}
                          <select name="genome">
                            <option value="hg38">hg38</option>
                            <option value="mm10">mm10</option>
                            <option value="dm6">dm6</option>
                            <option value="SacCerv">SacCerv</option>
                            <option value="danRer10">danRer10</option>
                            <option value="ce11" selected>ce11</option>
                          </select>
                        {% endif %}
                      </li>
                      <br/>

                      <b>Enzyme</b>
                      <li type="None" >
                        {% if enzyme == "cas9" %}
                          <select name="enzyme">
                            <option value="cas9" selected>cas9</option>
                            <option value="cpf1">cpf1</option>
                          </select>
                        {% elif enzyme == "cpf1" %}
                          <select name="enzyme">
                            <option value="cas9">cas9</option>
                            <option value="cpf1" selected>cpf1</option>
                          </select>
                        {% endif %}
                      </li>
                      <br/>

                      <b>How to Search for Genomic Regions</b>
                      <li type="None" >
                        {% if mode == "within" %}
                          <input type="radio" name="mode" value="within" checked style="float:left">&nbsp Within<br/>
                          <input type="radio" name="mode" value="flanking" style="float:left">&nbsp Flanking: <input type="text" name="flank_size" value="{{ flank_size|e }}" style="width:50px"/> bp<br/>
                        {% elif mode == "flanking" %}
                          <input type="radio" name="mode" value="within" style="float:left">&nbsp Within<br/>
                          <input type="radio" name="mode" value="flanking" checked style="float:left">&nbsp Flanking: <input type="text" name="flank_size" value="{{ flank_size|e }}" style="width:50px"/> bp<br/>
                        {% endif %}
                      </li>
                      <br/>
                      <b>Sort Results by</b>
                      <li type="None" >
                        {% if ordering == "score" %}
                          <select name="ordering">
                            <option value="specificity">Specificity (cas9 only)</option>
                            <option value="offtargets">Fewest Offtargets</option>
                            <option value="coordinates">Coordinates Closest to Query Boundary</option>
                            <option value="score" selected>Cutting Efficiency Score (cas9 only)</option>
                          </select>
                        {% elif ordering == "coordinates" %}
                          <select name="ordering">
                            <option value="specificity">Specificity (cas9 only)</option>
                            <option value="offtargets">Fewest Offtargets</option>
                            <option value="coordinates" selected >Coordinates Closest to Query Boundary</option>
                            <option value="score">Cutting Efficiency Score (cas9 only)</option>
                          </select>
                        {% elif ordering == "specificity" %}
                          <select name="ordering">
                            <option value="specificity" selected>Specificity (cas9 only)</option>                          
                            <option value="offtargets">Fewest Offtargets</option>
                            <option value="coordinates">Coordinates Closest to Query Boundary</option>
                            <option value="score">Cutting Efficiency Score (cas9 only)</option>
                          </select>                        
                        {% else %}
                          <select name="ordering">
                            <option value="specificity">Specificity (cas9 only)</option>
                            <option value="offtargets" selected>Fewest Offtargets</option>
                            <option value="coordinates">Coordinates Closest to Query Boundary</option>
                            <option value="score">Cutting Efficiency Score (cas9 only)</option>
                          </select>
                        {% endif %}
                      </li>
                      <br/>
                      <b>Results Display</b>
                      <li type="None" >
                        {% if display == "all" %}
                          <input type="radio" name="display" value="all" checked style="float:left">&nbsp All Guides<br/>
                          <input type="radio" name="display" value="top3" style="float:left">&nbsp Top <input type="text" name="topN" value="{{ topN|e }}" style="width:50px"/> Guides<br/>
                        {% elif display == "top3" %}
                          <input type="radio" name="display" value="all" style="float:left">&nbsp All Guides<br/>
                          <input type="radio" name="display" value="top3" checked style="float:left">&nbsp Top <input type="text" name="topN" value="{{ topN|e }}" style="width:50px"/> Guides<br/>
                        {% endif %}
                      </li>
                    </div>
                  </div>
                  <br/>
                  <div id="spin" style="float:left; display:none" class="spinner"></div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </form>
            
<!--       <form action="upload" method="post" action="upload" enctype="multipart/form-data"> 

      </form> 
 -->
      <div class="row">
        <div class="span11">
          Ran: {{genome|e}},{{mode|e}},{{odering|e}},{{display}},{{enzyme}} <br/>

          {% if error %}
            {% for e in error %}
                <p><h5 style="color:red;">{{e[1]}}</h5></p>
            {% endfor %}

          {% elif tooManyQueries %}
            <form id="download" action="download_results" method="post">
                <div style="display: none;">
                  <textarea name="tmpdir">{{tmpdir|e}}</textarea>
                </div>
                <p><button class="btn" type="submit" style="margin-left:10px">download results</button></p>
              </form>
              <p>
             {% if mode == "within" %}
                <b>{{line_counter|e}}</b> within queries processed, found gRNAs for <b>{{guides_regions|e}}</b> queried coordinates <br/>
              {% else %}
                <b>{{line_counter|e}}</b> flanking queries processed, found gRNAs in both flanks for <b>{{guides_regions|e}}</b> queried coordinates <br/>
              {% endif %}

          {% elif result %}
            {% if result[0] != "ERROR" %}
              <form id="download" action="download_results" method="post">
                <div style="display: none;">
                  <textarea name="tmpdir">{{tmpdir|e}}</textarea>
                </div>
                <p><button class="btn" type="submit" style="margin-left:10px">download results</button></p>
              </form>
              <p>
              {% if mode == "within" %}
                <b>{{line_counter|e}}</b> within queries processed, found gRNAs for <b>{{guides_regions|e}}</b> queried coordinates <br/>
              {% else %}
                <b>{{line_counter|e}}</b> flanking queries processed, found gRNAs in both flanks for <b>{{guides_regions|e}}</b> queried coordinates <br/>
              {% endif %}
                        
              {% for c in result %}

                {% if c[2] == "ERROR" %}
                  {% if c[1] == "" %}
                    <h4 style="padding-left:10px;">
                          {{c[0]|e+ ":"}} <font face="Courier" size="4" color="red">{{c[3]}}</font>
                    </h4>
                  {% else %}
                    <h4 style="padding-left:10px;">
                          {{c[0]|e + ":"}} <font face="Courier" size="4" color="red">{{c[3]}}</font>
                    </h4>
                  {% endif %}
                {% else %}

<!-- table with guideRNA results goes here  -->
                  <div class="module">
                    <h4 class="header">
                          {{c[2]|length}} guideRNAs {% if c[1] != "within" %} {{flank_size|e}}bp{% endif %}
                          {{c[1]|e}} &nbsp{{c[0]|e}}
                    </h4>
                      {% if enzyme == "cas9" %}
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <td style="white-space:nowrap; min-width:25%"><b>coordinates</b></td>
                            <td style="white-space:nowrap; min-width:25%"><b>guideRNA+PAM</b></td>
                            <td style="white-space:nowrap; min-width:25%"><b># off-targets</b></td>
                            <td style="white-space:nowrap; min-width:20%"><b>off-target summary</b></td>
                            <td style="white-space:nowrap; min-width:20%"><b>score</b></td>
                            <td style="white-space:nowrap; min-width:20%"><b>specificity</b></td>
                            <td style="white-space:nowrap; min-width:20%"><b>annotations</b></td>
                          </tr>
                          </thead>
                          <tbody>
                          {% for item in c[2] %}
                            <tr>
                              <td>{{("%s:%s-%s:%s" % (item[0], item[1], item[2], item[6]))|e}}</td>
                              <td>
                              <font face="Courier" size=3>{{item[3]|e}}</font>
                              </td>
                              <td>{{item[7]|e}}</td>
                              {% if item[7] == 0 %}
                                <td>{{item[8]|e}}</td>
                              {% else %}
                                <td>
                                <form id="offtargets" action="show_offtargets" method="post" target="_blank">
                                  <div style="display: none;">
                                    <textarea name="offtargets">{{offtargets[item[3]]|e}}</textarea>
                                    <textarea name="guiderna">{{item[3]|e}}</textarea>
                                  </div>
                                  <button class = "button" type="submit" onclick="submit();return true">{{item[8]|e}}</button>
                                </form>
                                </td>
                              {% endif %}
                              <td>{{item[4]|e}}</td>
                              <td>{{item[5]|e}}</td>
                              <td>{{item[11]|e}}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      {% else %}
                          <table class="table table-striped">
                          <thead>
                          <tr>
                            <td style="white-space:nowrap; min-width:25%"><b>coordinates</b></td>
                            <td style="white-space:nowrap; min-width:25%"><b>guideRNA+PAM</b></td>
                            <td style="white-space:nowrap; min-width:25%"><b># off-targets</b></td>
                            <td style="white-space:nowrap; min-width:20%"><b>off-target summary</b></td>
                            <td style="white-space:nowrap; min-width:20%"><b>annotations</b></td>
                          </tr>
                          </thead>
                          <tbody>
                          {% for item in c[2] %}
                            <tr>
                              <td>{{("%s:%s-%s:%s" % (item[0], item[1], item[2], item[6]))|e}}</td>
                              <td>
                              <font face="Courier" size=3>{{item[3]|e}}</font>
                              </td>
                              <td>{{item[7]|e}}</td>
                              {% if item[7] == 0 %}
                                <td>{{item[8]|e}}</td>
                              {% else %}
                                <td>
                                <form id="offtargets" action="show_offtargets" method="post" target="_blank">
                                  <div style="display: none;">
                                    <textarea name="offtargets">{{offtargets[item[3]]|e}}</textarea>
                                    <textarea name="guiderna">{{item[3]|e}}</textarea>
                                  </div>
                                  <button class = "button" type="submit" onclick="submit();return true">{{item[8]|e}}</button>
                                </form>
                                </td>
                              {% endif %}
                              <td>{{item[11]|e}}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      {% endif %}
                      <br>
<!--end of table with guideRNA results-->

                {% endif %}
              {% endfor %}
            {% else %}
              <p><h5 style="color:red;">{{result[1]|e}}</h5></p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    <!--
      <footer>
        <p>**Warning: this website is under construction**</p>
      </footer>
    -->
    </div> 

  </body>
</html>
