<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GuideScan 1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <h2 style="margin-left: 40px">Off-targets of guideRNA targeting {{guiderna|e}}</h2>
    <p style="margin-left: 40px">Up to 1000 off-target coordinates are displayed.</p>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    
    <script type='text/javascript' src="./collapsible/js/jquery-1.4.2.min.js"></script>
    <script type='text/javascript' src="./collapsible/js/jquery.cookie.js"></script>	
    <script type='text/javascript' src="./collapsible/js/jquery.collapsible.js"></script> 
    
    <script type='text/javascript' language='javascript'>
    jQuery(document).ready(function() {
            $.collapsible(".module .header");
    });
    </script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">    

	<body>		
	<table class="table table-striped">
	<thead>
	<tr>
	  <td style="max-width: 40%; min-width:25%"><b>coordinates</b></td>
	  <td style="white-space:nowrap; min-width:25%"><b>mismatches</b></td>
	  <td style="white-space:nowrap; min-width:25%"><b>annotations</b></td>
	</tr>
	</thead>
	<tbody>
	{% for item in offtargets %}
	    <tr>
	      <td>{{("%s:%s-%s:%s" % (item[0], item[1], item[2], item[5]))|e}}</td>
	      <td>{{item[9]|e}}</td>
	      <td>{{item[11]|e}}</td>
	    </tr>
	{% endfor %}
	</tbody>
	</table>
	</body>
	</head>
</html>
